@{
    ViewBag.Title = "Bestellung";
}
<div class="row">
    <div class="col-md-4">
        <h2>Bestellung</h2>
        <p>
            Schlankes ERP System zur Bäckereiverwaltung.
        </p>
    </div>
</div>