@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Baeckerei 4.0</h1>
</div>
  <div class="row">
    <div class="col-md-4">
        <h2>Projektarbeit - Gruppe 3</h2>
        <p>
            Schlankes ERP System zur Bäckereiverwaltung.
        </p>
    </div>
</div>
